
<!-- Currency Converter -->
<!--<h1 class="heading text-center display-2">
  Currency Converter</h1>-->
<div class="container">

  <div class="main">
    <form>
      <div class="input-group">
        <span class="input-group-text">
          <select class="form-control" id="sel1">
              <option value="GBP" selected>GBP</option>
            </select>
        </span>
        <input type="text" class="form-control" placeholder="You Send" id="send">
      </div>

      <div class="input-group">
        <span class="input-group-text">
          <select class="form-control" id="sel2">
              <option value="XAF" selected>XAF</option>
          </select>
        </span>
        <input type="text" class="form-control" placeholder="You Receive" id="receive">
      </div>
    </form>


      <div class="row">
        <div class="col-sm-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Delivery Method:</span>
            </div>
            <select class="form-control from" id="sel3">
              <option value="Cash" selected>Cash Withdrawal</option>
              <option value="MOMO">MOMO</option>
              <option value="OM">OM</option>
              <option value="BANK">Bank Transfer</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div id="rate"></div>
        </div>

    </div>
    <div>
  </div>
</div>


