
<!-- Navigation-->
<app-navigation></app-navigation>
<!-- Mashead header-->
<app-header></app-header>
<!-- Quote/testimonial aside-->
<app-testimonial></app-testimonial>
<!-- App features section-->
<app-app-features></app-app-features>
<!-- Basic features section-->
<app-basic-features></app-basic-features>
<!-- Call to action section-->
<app-call-to-action></app-call-to-action>
<!-- App badge section-->
<app-app-badge-section></app-app-badge-section>
<!-- Footer-->
<app-footer></app-footer>
<!-- Feedback Modal-->
<app-contact></app-contact>

